Flask
Flask-JWT-Extended
Flask-SQLAlchemy
tensorflow-cpu
keras
h5py
numpy
pillow
protobuf
grpcio
astunparse
absl-py
google-pasta
gast
opt-einsum
ml_dtypes
optree
rich
markdown
markdown-it-py
mdurl
pygments
packaging
requests
certifi
charset-normalizer
idna
urllib3
click
Werkzeug
itsdangerous
Jinja2
SQLAlchemy
greenlet
termcolor
wrapt
namex
libclang
wheel
dotenv
